<%- include('includes/head') %>


  <section class="container">
    <h1>Dev cansado para karai macho</h1>
    <label for="">Cliente</label>
    <input type="text" name="Client" id="">
  </section>

<%-include('includes/footer')%>
