<%- include('includes/head') %>


  <section class="container">
    <h1>Dev cansado para karai macho</h1>

    <form action="/" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="">Cliente</label>
    <input type="text" name="Client" id="">
    <button>Submit</button>
  </form>
  </section>

<%-include('includes/footer')%>
